<br>
<div class="container"  *ngIf="product!=null && user!=null"  >
  <div class="row">
    <div class="col-sm-4">
      <div class="product-image">
        <div class="view hm-zoom z-depth-2 something" style="cursor: pointer">
          <img [src]="(product.pictures.length > 0 && product.pictures[0] != '') ? product.pictures[0] : 'https://material.angular.io/assets/img/examples/shiba2.jpg'" [alt]="product.productName" width="100%" class="img-fluid rounded">
        </div>
        <div class="" style="margin-top:15px">
          <ul class="list-group mb-3">
            <li class="list-group-item d-flex justify-content-between lh-condensed"> 
              <div>
                <h6 class="my-0">Product Price</h6>
              </div>
              <span class="text-muted" style="color:crimson !important">$ {{ product.price }}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
                <h6 class="my-0">Product Seller</h6>
              </div>
              <span class="text-muted" style="color:crimson !important">{{ user.username }}</span>
            </li>
          </ul>
          <button class="btn btn-primary" (click)="cartService.addProduct(product)">Add to Cart</button>
        </div>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="product-detail">
        <h5 class="product-head">Product Details</h5>
        <table class="table" cellspacing="0" style="max-height: 28px">
          <tbody>
            <tr>
              <th scope="row">Product ID</th>
              <td>{{product._id}}</td>
            </tr>
            <tr>
              <th scope="row">Product Name</th>
              <td>{{product.name}}</td>
            </tr>
            <tr>
              <th scope="row">Product Description</th>
              <td>{{product.description}}</td>
            </tr>
            <tr>
              <th scope="row">Product Category</th>
              <td>{{product.category}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>