<div >
    <div  *ngIf="(user | async) as user">
      <h5 >Profile</h5>
      <table class="table" cellspacing="0" style="max-height: 28px">
        <tbody>
          <tr>
            <th scope="row">Username</th>
            <td>{{user.name}}</td>
          </tr>
          <tr>
            <th scope="row">Email</th>
            <td>{{user.email}}</td>
          </tr>
          <tr>
            <th scope="row">name</th>
            <td>{{user.name}}</td>
          </tr>
          <tr>
            <th scope="row">age</th>
            <td>{{user.age}}</td>
          </tr>
          <tr>
              <th scope="row">Join Date</th>
              <td>{{user.created}}</td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>