<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="false" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="!(isHandset$ | async)">
    <mat-toolbar class="mat-primary">Categories</mat-toolbar>
    <mat-nav-list>
      <div *ngFor="let category of categories | async">
        <a mat-list-item (click)="filter(category)">{{ category }}</a>
      </div>
    </mat-nav-list>
  </mat-sidenav>

  <form class="search-form">
    <mat-form-field class="search-full-width">
      <input matInput class="search-full-width" placeholder="Search term" #input>
    </mat-form-field>
    <button mat-icon-button (click)="search(input.value)">
      <mat-icon>search</mat-icon>
    </button>
  </form>

  <div class="row">
    <div *ngFor="let product of products | async">
      <a [routerLink]="['/products', product._id]">
        <div class="item">
          <div class="view overlay hm-white-slight something">
            <img [src]="(product.pictures.length > 0 && product.pictures[0] != '') ? product.pictures[0] : 'https://material.angular.io/assets/img/examples/shiba2.jpg'"
              class="img-fluid" alt="" width="360px" height="640px">

          </div>
          <div class=" mb-r">
            <div class="card card-cascade wider">



              <div class="card-body text-center no-padding">
                <!--Category & Title-->
                <a class="text-muted">
                  <h5>{{ product.category }}</h5>
                </a>
                <p class="card-title">
                  <strong>
                    <a [routerLink]="['/products/', product._id]" routerLinkActive="router-link-active">{{
                      product.name }}</a>
                  </strong>
                </p>
              </div>
              <div class="card-footer">
                <span class="left">$ {{ product.price }}</span>
              </div>


            </div>
          </div>
        </div>
      </a>

    </div>
  </div>

</mat-sidenav-container>