<div class="medium-list">
    <div class="list-viewer-wrapper">
      <div class="list-header-title">Register</div>
  
      <form [formGroup]="productForm" (ngSubmit)="productForm.valid && onproductSubmit()" novalidate>
        <div class="form-container">
          <div *ngIf="message"><p>{{ message }}</p></div>
  
          <mat-form-field>
            <input id="name"
                   matInput
                   formControlName="name"
                   [(ngModel)]="product.name"
                   placeholder="Product Name" />
          </mat-form-field>
          <mat-form-field>
              <input id="description"
                     matInput
                     formControlName="description"
                     [(ngModel)]="product.description"
                     placeholder="Product Description" />
          </mat-form-field>
          <mat-form-field>
              <input id="category"
                     matInput
                     formControlName="category"
                     [(ngModel)]="product.category"
                     placeholder="Product Category" />
          </mat-form-field>
          <mat-form-field>
            <input id="price"
                   matInput
                   formControlName="price"
                   [(ngModel)]="product.price"
                   placeholder="Product price"
                   [type]='number' />
          </mat-form-field>
          <mat-form-field>
            <input id="picture"
                   matInput
                   formControlName="picture"
                   [(ngModel)]="product.pictures[0]"
                   placeholder="Product Picture (url)"
                    />
          </mat-form-field>
            <button mat-button type="submit" 
                    class="mat-raised-button mat-primary" 
                    [disabled]="!productForm.valid">Add Product</button>
        </div>
      </form>
    </div>
</div>